# build artifacts
/build/
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
/build/compile_commands.json
**/*.o
**/*.o.d
**/TheFirst
**/nohup.out

# temporary files
*~
*.tmp
*.log

# ignore SFML compiled binaries if you rebuild them
/liberis/SFML-3.0.0/lib/
/liberis/SFML-3.0.0/share/

# if using CLion or VSCode etc — додати IDE-specific файли
/.idea/
/.vscode/

#Directory
2D_part/
build/
.cache/
.cache/clangd/index

